
  
  .container-fluid {
    display: flex;
    width: 100%;
    min-height: 93vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .col-md {
    display: flex;
    height: 600px;
    width: 600px;
    border: 5px solid #17b06b;
    border-radius: 15px;
    margin: 0 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transition: all 0.35s;
  }
  
  /* Media query para pantallas más pequeñas (ajusta el valor según tus necesidades) */
  @media (max-width: 890px) {
    .col-md {
      margin: 0;
      /* Elimina el margen en pantallas más pequeñas */
      margin-bottom: 10px;
      /* Agrega margen inferior para separar las columnas apiladas */
      height: 300px;
      width: 500px;
    }
  }
  
  footer {
    background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6));
    border: 2px solid #000;
  }
  
  .col-md:hover {
    background-color: rgba(228, 226, 255, 0.1);
    color: #17b06b;
    box-shadow: #17b06b 0px 0px 40px 0px;
    transform: scale(1.1);
  }
  
  .navegar {
    margin-left: 90px;
  }
  
  .card {
    max-width: 90%;
    margin: 0 auto;
  }
  
  footer {
    margin-top: 100px;
  }